@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	width: 100%;
	height: 75px;
	background-color:white;
	line-height: 75px;
	padding:0px 50px;
	position:fixed;
	z-index: 1;
}

div.icon{
    float: left;
    position: relative;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 5px;
}

nav ol ul a {
    float: right;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 5px;
    color: black;
    font-size: large;
    font-weight: 500;

}

nav ol ul a:hover{

    text-decoration: underline;
  
}

.choose-plan-screen-1 {
    width: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.centerContainer {
    margin: 0 auto 15px;
    padding: 20px 3% 60px;
    max-width: 978px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.planContainer {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
}


.stepLogoContainer {
    display: inline-block;
    margin-top: 120px;
    text-align: center;
}

.stepHeaderContainer{
    text-align: center;
    font-weight: lighter;
}

h1{
    font-weight: 500;
}