@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
nav{
	width: 100%;
	height: 75px;
	background-color:white;
	line-height: 75px;
	padding:0px 50px;
	position:fixed;
	z-index: 1;
}
.nav-divider{
    border-top: 2px solid #e6e6e6;
    height: 0;
    width: 100%;
    
}

div.icon{
    float: left;
    position: relative;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 5px;
}

nav ol ul a {
    float: right;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 5px;
    color: black;
    font-size: large;
    font-weight: 500;

}

nav ol ul a:hover{

    text-decoration: underline;
  
}

.choose-plan-screen-1 {
    width: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    display:flex;
}

.centerContainer {
    margin: 0 auto 15px;
    padding: 20px 3% 60px;
    max-width: 978px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.planContainer {
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
}


.stepLogoContainer {
    display: inline-block;
    margin-top: 160px;
    margin-bottom: 15px;
    text-align: center;
}

.stepHeaderContainer{
    text-align: center;
    font-weight: lighter;
}

h1{
    font-weight: 400;
}

.stepIndicator b{
    font-weight: 200;
}

.contextBody-contextRow{
    text-decoration: none;
    padding: auto;
    text-align: left;
    display: flex;
  


}

.checkmark-group{
    list-style: none;

}

.SubmitBtnContainer{
    max-width: 340px;
    margin-top: 24px;
}
.NextButtonStep2{
	background-color: #e50914;
	color: #fff;
	display: block;
	position: relative;
	margin: auto;
	padding: .8em 2.2em;
	cursor: pointer;
	border: none;
	border-radius: .2em;
	font-size: 1.4em;
	letter-spacing: 0.04em;
	width: 350px;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	-ms-border-radius: .2em;
	-o-border-radius: .2em;
}   
.footer-divider{
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
    display: block;
}

.footerForChooseYourplan{
    background-color: #f3f3f3;
    margin-top: 0;
    opacity: 1;
    display: block;
    color: #737373;
    font-size: 1em;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    
}

.footerComponents{
    text-decoration: none;
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}


.footerTop a{
    text-decoration: none;
    color: #737373;
}


.footerLinks{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr;
}


.footer-link-item a {
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    font-size: 13px;
    color: #737373;
}